* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary-color: #fff;
  --text-color: #000;
}
.darktheme{
  --primary-color: #0000;
  --text-color: #fff;
}

body{
  background-color: var(--primary-color);
  color: var(--text-color);
}

.nav-content {
  width: 100%;
  height: 70px;
  display: flex;
  border: 0px solid blue;
  border-inline-start-style: dashed;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30%;
  border: 4px solid red;
  display: flex;

}

.title {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "consolas";
}

.content {
  width: 60%;
  height: 100%;
  border: 0px solid green;
  align-items: center;
}

.image {
  width: 50%;
  height: 100%;
}

.content1 {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  /* font-family:  'Noto Sans JP', sans-serif; */
  font-weight: lighter;
  display: flex;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  font-size: 20px;
  color: #483d8b;
}

li a:hover {
  color: #800080;
  /* background: #ff0000; */
  /* border: 1px solid red; */
}

.flex {
  display: flex;
}

header {
  position: fixed;
  /* background: var(--primary-color); */
  width: 100%;
  /* z-index is for the write-ups to be forward */
  z-index: 9999;
  /* box-shadow: 10px 10px 10px grey; */
  /* box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(13,110,253,.25); */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

  border: 0px solid black;
}

/* display the mobile toggler none */
.mobile-nav-toggle {
  display: none;
}

@media (max-width:40rem) {


  /* navigation bar */
  .content1 {
    flex-direction: column;
    position: fixed;
    align-items: start;
    inset: 0 0 0 0%;
    --gap: 2em;
    padding: min(30vh, 10rem) 3rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    backdrop-filter: blur(2rem);
  }

  .content1[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    display: block;
    /* color: red; */
    background: transparent;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 1rem;
    right: 2rem;
    z-index: 9999;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: transparent;
  }




  .logo {
    width: 100%;
    z-index: 9999;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }

  /* .mobile-nav-toggle[aria-expanded="true"] .hamburger-middle {
    transform: translateY(7px);
  }

  .mobile-nav-toggle[aria-expanded="true"]  .hamburger-bottom {
    transform: translateY(14px);
  } */

  .hamburger-middle {
    transform: translateY(7px);
  }


  .hamburger-bottom {
    transform: translateY(14px);
  }

  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }


  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }


}